* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-container {
  height: calc(100vh - 90px);
}

/* Colors */

:root {
  --bg-color1: #ffffff;
  --bg-color2: #000000;
  --bg-color3: #141922;
  --bg-color4: #282828;
  --bg-color5: #808080;
  --bg-color6: #a3a3a3;
  --bg-color7: #adff2f;
}

/* Tipografia */

body {
  font-family: "Montserrat", sans-serif;
}
h2{
  font-size: 1.25rem;
  font-weight: 800;
}

h3 {
  font-size: 0.75rem;
  font-weight: 900;
}

h5 {
  font-size: 0.75rem;
  font-weight: 600;
}

h6 {
    font-size: 10px;
    font-weight: 600;
    color: var(--bg-color6);
}

/* Utility */

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.image {
  display: block;
  width: 100%;
}

.justify-center{
  justify-content: center;
}

.align-center{
  align-items: center;
}

.wrap{
  flex-wrap: wrap;
}

.space-btw{
  justify-content: space-between;
}

.space-around{
  justify-content: space-around;
}

/* Common */

a.btn {
  all: unset;
  cursor: pointer;
}

li {
  list-style-type: none;
}

.progress {
    cursor: pointer;
}

/* Hover */

#col-music .upgrade a.btn:hover {
    transform: scale(1.1);
    transition: 1s;
}

#col-music li > a.btn h4:hover,
#col-nav li >a.btn:hover {
    transition: color 0.5s;
    color: var(--bg-color1);
}

#col-music #recent-list .image-cover div.overlay:hover,
#col-music #ai-list .image-cover div.overlay:hover,
#col-music #bestartist-list .image-cover.round-image div.overlay:hover {
    opacity: 1;
}

#col-nav ul.menu > li a.btn:hover {
    color: var(--bg-color1);
    border-left: 2px solid var(--bg-color7);
}

#col-nav .account .download a.btn h5:hover {
    color: var(--bg-color1);
}

#col-nav .playlist .add a.btn > h5:hover {
    color: var(--bg-color1);
}

#footer-container #track a.btn > h6:hover {
    color: var(--bg-color1);
    text-decoration: underline;
}

#footer-container #track .icone-like-add > a.btn:hover,
#footer-container #track .icone-like-add a.btn {
    color:var(--bg-color1)
}

#footer-container #audio-system .system-top li.play:hover {
    transform: scale(1.2);
    transition: scale 0.5s;
}

#footer-container #audio-system .system-bottom .time-progress-bar:hover::before,
#footer-container #volume .volume-progress-bar:hover::before {
    background-color: var(--bg-color7);
    cursor: pointer;
}

#footer-container #audio-system .system-bottom .time-progress-bar:hover::after,
#footer-container #volume .volume-progress-bar:hover::after {
    display: block;
    cursor: pointer;
}

/* Sidenav Bar */

#col-nav {
  width: 50px;
  flex-shrink: 0;
  padding: 5px 0;
  background-color: var(--bg-color2);
}

.logo .logotipo.image.from-s {
  display: none;
}

.logo .logo-small.image.only-xs {
  display: flex;
}

.logo .logotipo {
  width: 130px;
}

.logo .logo-small {
  width: 30px;
  margin: 0 auto;
  margin-bottom: 10px;
}

ul.menu li a.btn {
  color: var(--bg-color6);
}

#col-nav ul.menu > li a.btn {
  border-left: 2px solid transparent;
}

.menu li a img {
  width: 25px;
}

.menu li .btn h5.from-s,
.account .user-image h3.from-s {
  display: none;
}

ul.menu li a > img {
  padding-bottom: 10px;
}

#col-nav li.active {
  border-left: 2px solid #adff2f;
}

.account > div.download,
div.user-image {
  padding: 10px 0;
}

.menu li a.btn,
.account .download a.btn.flex-row,
.account .user-image .flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.playlist.from-s {
  display: none;
  overflow: hidden;
}

.playlist ul.list {
  overflow-y: auto;
}

.account .download a.btn img{
  width: 18px;
}

.account hr.from-s{
  display: none;
}

.account{
  margin-top: auto;
}

.user-image h3{
  color: var(--bg-color1);
}

.account .download .btn h5.from-s{
  display: none;
  color: var(--bg-color5);
}

.account .user-image img.image{
  border-radius: 50px;
  background-color: var(--bg-color5);
  width: 25px;
  height: 25px;
}

/* Music Space */

#col-music{
  flex-grow: 1;
  background-color: var(--bg-color3);
  padding-top: 90px;
  overflow-y: auto;
}

.upgrade{
  height: 90px;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, .5);
  right: 0;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 40px;
}

.upgrade a.btn{
  display: inline-block;
  color: var(--bg-color1);
  border: 1px solid var(--bg-color1);
  padding: 15px 40px;
  border-radius: 40px;
  position: absolute;
}

#col-music hr.active{
  width: 30px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: var(--bg-color7);
}

/* Music Space Bottom */

#col-music .music-box ul.flex-row{
  color: var(--bg-color6);
  padding: 20px 0;
  gap: 40px 25px;
  text-transform: uppercase;
}

.music-box{
  padding: 0 20px;
}

#recent-list h2,
#ai-list h2,
#bestartist-list h2 {
  color: var(--bg-color1);
  padding: 20px 0;
}

#recent-list h5,
#ai-list h5,
#bestartist-list h5 {
  color: var(--bg-color6);
  font-size: 0.90rem;
}

.track h5{
  color: var(--bg-color6);
}

#col-music #recent-list .image-cover,
#col-music #ai-list .image-cover,
#col-music #bestartist-list .image-cover.round-image {
  position: relative;
}

#col-music #recent-list .image-cover div.overlay,
#col-music #ai-list .image-cover div.overlay,
#col-music #bestartist-list .image-cover.round-image div.overlay {
  background-color: rgba(0, 0, 0, .4);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  opacity: 0;
}

#col-music #recent-list .image-cover .overlay .icon-overlay,
#col-music #ai-list .image-cover .overlay .icon-overlay,
#col-music #bestartist-list .image-cover.round-image .overlay .icon-overlay {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#col-music #bestartist-list .image-cover.round-image div.overlay {
  border-radius: 50%;
}

#recent-list .row.flex-row,
#ai-list .row.flex-row,
#bestartist-list .row.flex-row {
  gap: 10px;
  text-align: center;
  padding: 25px 0 10px;
}

#recent-list .row .track,
#ai-list .row .track,
#bestartist-list .row .round-image img {
  width: calc((100% - 10px) / 2);
}

#recent-list .row .track h3,
#ai-list .row .track h3,
#bestartist-list .row .track h3 {
  padding: 10px 0;
  color: var(--bg-color1);
}

#bestartist-list .row .track .round-image img {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}


#footer-container {
  max-width: 100%;
  height: 90px;
  background-color: var(--bg-color4);
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 10px;
}

#footer-container.flex-row {
  gap: 20px;
}

#footer-container #track,
#footer-container #volume {
  width: 25%;
}

#footer-container #volume,
#footer-container #track a.btn > h5 {
  color: var(--bg-color1);
}

#footer-container #track .icone-like-add a.btn {
  color: var(--bg-color6);
}

#footer-container img.image {
  justify-content: center;
  width: 28px;
}

#footer-container #track .icone-like-add i,
#footer-container #volume .icone-volume i {
  font-size: 13px;
}

#footer-container #track.flex-row.align-center,
#footer-container #audio-system .system-bottom.flex-row.space-btw.align-center,
#footer-container #volume .icone-volume.flex-row {
  gap: 10px;
}

#footer-container #track .icone-like-add.flex-column > a.btn {
  padding: 0;
}

#footer-container #audio-system {
  width: 20%;
  flex-grow: 1;
  color: var(--bg-color1);
  display: flex;
}

#footer-container #audio-system .system-top .flex-row li.play {
  padding: 0 10px;
  font-size: 30px;
}

#footer-container #audio-system .system-top .flex-row li {
  font-size: 18px;
}

#footer-container #audio-system .system-top .flex-row {
  justify-content: center;
  gap: 20px;
}


#audio-system .system-bottom .time-progress-bar,
#volume > .volume-progress-bar {
  background-color: var(--bg-color6);
  width: 100%;
  height: 4px;
  border-radius: 50px;
}

#footer-container #audio-system .system-bottom .time-progress-bar::before,
#footer-container #volume .volume-progress-bar::before {
  content: '';
  background-color: var(--bg-color1);
  position: absolute;
  width: 25%;
  height: 4px;
  border-radius: 50px;
}

#audio-system .system-bottom.flex-row.space-btw.align-center div.time-progress-bar,
#volume div.volume-progress-bar {
  position: relative;
}

#audio-system .system-bottom .time-progress-bar::after,
#volume .volume-progress-bar::after {
  content: '';
  position: absolute;
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 50px;
  background-color: var(--bg-color1);
  display: none;
}

#volume.flex-row.align-center {
  gap: 6px;
  justify-content: flex-end;
}
